<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthClientId</key>
	<string>MY_OAUTH_CLIENT_ID</string>
	<key>OAuthOpenIdURL</key>
	<string>MY_OAUTH_OPENID_URL</string>
	<key>OAuthRedirectURL</key>
	<string>MY_OAUTH_REDIRECT_URL</string>
	<key>APIHostname</key>
	<string>MY_API_HOSTNAME</string>
	<key>AuthenticatorCert</key>
	<string>MY_AUTHENTICATOR_CERT</string>
</dict>
</plist>
