<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>teamID</key>
		<string>534JTUC87X</string>
		<key>method</key>
		<string>app-store</string>
		<key>uploadSymbols</key>
		<true/>
		<key>uploadBitcode</key>
		<false/>
		<key>compileBitcode</key>
		<false/>
		<key>thinning</key>
		<string>&lt;none&gt;</string>
	</dict>
</plist>
